* {
    margin: 0px;
    padding: 0px;
    scrollbar-arrow-color: lawngreen;
}

.header {
    position: fixed;
    top: -1vh;
    width: 100%;
    height: 60px;
    background: rgb(1, 5, 26);
    color: white;
}

body {
    position: fixed;
}

li {
    position: relative;
    left: 160vh;
    list-style: none;
    display: inline-block;
    margin: 10px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: white;
}

.logo_img1 {
    position: absolute;
    left: 5.8vh;
    top: 1.9vh;
    display: inline-block;
    width: 40px;
    height: 40px;
    animation: logoani 1s infinite;
    animation-direction: initial;
    animation-timing-function: linear;
}

.logo_text {
    position: absolute;
    left: 13vh;
    top: 2.6vh;
    display: inline-block;
    font-size: 20px;
    font-family: 'Piazzolla', serif;
}

.logo_img2 {
    position: absolute;
    left: 31vh;
    top: 1.9vh;
    display: inline-block;
    width: 40px;
    height: 40px;
    animation: logoani 1s infinite;
    animation-direction: initial;
    animation-timing-function: linear;
}

footer {
    position: fixed;
    top: 92%;
    display: flex;
    text-align: center;
    width: 100%;
    height: 60px;
    background: rgb(1, 5, 26);
    color: white;
}


/* animation */

@keyframes logoani {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.body_text {
    position: relative;
    top: 20vh;
    left: 10vh;
    width: 100%;
}

h5 {
    margin: 20px;
    font-size: 20px;
}

.body_p {
    color: rgb(11, 91, 138);
    display: inline-block;
}

h2 {
    position: relative;
    left: 18px;
    font-size: 25px;
}

button {
    position: relative;
    bottom: 34vh;
    left: 13vh;
    width: 100px;
    height: 50px;
    border: 0px solid black;
    border-radius: 40px;
    box-shadow: -4px 4px 4px rgba(10, 10, 10, 0.3);
    padding: 15px;
    transition: 1s;
    cursor: pointer;
}

button:hover {
    box-shadow: 5px -5px 4px rgba(10, 10, 10, 0.3);
}

.body-weather-image {
    position: relative;
    left: 100vh;
    width: 80vh;
    height: 60vh;
    border: 0px solid black;
}

.footer_text {
    display: block;
    margin: auto;
}